<nav>
    <span class="sortnum">1</span><span class="title">盈利分析——资产回撤</span>
</nav>
<div class="statisticstop">
    <div><span>最大回撤值</span><span id="maxbackval">￥0</span>
    </div>
    <div><span>最大回撤比率</span><span id="maxbackrate">0%</span>
    </div>
</div>
<div class="backvalchart" id="backvalchart">
</div>
<div class="statisticsbottom">
    <div><span>平均回撤时间</span><span><b id="avgbackdays">0</b>天</span>
    </div>
    <div><span>回撤时间占比</span><span><b id="backrate">0</b>%</span>
    </div>
    <div><span>资金创新高比率</span><span><b id="highrate">0</b>%</span>
    </div>
</div>
<div class="declare">
    <span id="fluctuate_remark"></span>
</div>