<div class="main">
    <div class="header">
        <div class="hlogion"><img src="images/logon.png"></div>
        <div>
            <p class="l">交易行为分析</p>

            <p class="c">Trading Behavior Analysis</p>

            <p class="r">该数据分析由优顾提供</p>
        </div>
    </div>
    <div class="conicot">
        <div class="conicon">
            <div class="concer">
            </div>
        </div>
    </div>
    <div class="concen">
        <span><div  id="w0">
        </div><p class="w">盈利性</p></span>
        <span><div id="w1">
        </div><p class="w1">稳定性</p></span>
        <span><div id="w2">
        </div><p class="w2">准确性</p></span>
    </div>
    <div class="top_next" style="background-color:rgba(0,0,0,0)">
        <img src="images/icon_next.png" class="animatetip" alt="下一页">
    </div>
    <div class="footer">
        <span class="s1"><p class="over">用户昵称：<b id="username">用户昵称<b></p></span><span class="s2"><p>优顾相伴：<b
            id="totaldays">0天<b></p></span>
    </div>
</div>