<nav>
    <span class="sortnum">2</span><span class="title">日常交易分析——仓位统计</span>
</nav>
<div class="moneyuse">
    <span>平均隔夜资金使用率<b id="percent">0%</b></span>
</div>
<div id="chart">
    <svg id="svg" width="100%" height="100%"></svg>
</div>
<div class="days">
    <div><span id="fulldays" style=" font-weight:bold; font-size:22px;">0</span><span>满仓天数</span>
    </div>
    <div><span id="emptydays" style=" font-weight:bold;font-size:22px;">0</span><span>空仓天数</span>
    </div>
</div>
<div class="declare">
    <span id="remark"></span>
</div>