<nav>
    <span class="sortnum">3</span>
    <span class="title">选股能力分析——常规统计</span>
</nav>
<div class="container">
    <div class="flag" id="flag_avg_profit">平均每笔交易获利</div>
    <div class="value" id="value_avg_profit">
        <div class="mark" id="mark_avg_profit"></div>
        <span><b id="avg_profit">0</b>元</span>
    </div>
    <div class="flag" id="flag_avg_hold">平均每笔交易持续</div>
    <div class="value" id="value_avg_hold">
        <div class="mark" id="mark_avg_hold"></div>
        <span><b id="avg_hold">0</b>天</span>
    </div>
    <div class="flag" id="flag_trade_rate">交易频率</div>
    <div class="value" id="value_trade_rate">
        <div class="mark" id="mark_trade_rate"></div>
        <span><b id="trade_rate">0</b>天/笔</span>
    </div>
    <div class="flag" id="flag_trade_time">交易次数</div>
    <div class="value" id="value_trade_time">
        <div class="mark" id="mark_trade_time"></div>
        <span><b id="trade_time">0</b>次</span>
    </div>
    <div class="flag" id="flag_trade_num">交易股票数</div>
    <div class="value" id="value_trade_num">
        <div class="mark" id="mark_trade_num"></div>
        <span><b id="trade_num">0</b>只</span>
    </div>
</div>
<div class="rabion" id="stockskilled">擅长行业：--</div>