div.container {
    height: 72.8125%;
}

div.suc_total {
    margin-top: 5%;
    height: 42%;
    margin-left: -40px
}

div.suc_t4 {
    margin-top: -5%;
    height: 32%;
    margin-left: 60px;
}

div.suc_t1 {
    margin-top: -3%;
    height: 32%;
    margin-left: -50px;
}