div.container {
    height: 72.8125%;
}

div.suc_total {
    margin-top: 5%;
    height: 42%;
}

div.suc_t4 {
    margin-top: -4%;
    height: 32%;
}

div.suc_t1 {
    margin-top: -7%;
    height: 32%;
}